@model Course

<form method="POST" action="/Course/Apply">
    <div class="form-group">
        <label for="exampleInputEmail1">Student Email</label>
        <input type="email" name="StudentEmail" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>


    <div class="form-group">
        <label for="exampleInputEmail1">Student Name</label>
        <input type="text" name="StudentName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">Student Surname</label>
        <input type="text" name="StudentSurname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">
    </div>

   <div class="form-group">
    <label for="exampleFormControlSelect1">Student Age</label>
    <select class="form-control" name="StudentAge" id="exampleFormControlSelect1">
      <option>18</option>
      <option>19</option>
      <option>20</option>
      <option>21</option>
      <option>22</option>
      <option>23</option>
    </select>
  </div>


    <button type="submit" class="btn btn-primary">Apply</button>
</form>

